*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;

  font-size: 62.5%;
  --main-font: 'Open Sans', Arial, Helvetica, sans-serif;
  --secondary-font: Montserrat, Arial, Helvetica, sans-serif;

  --main-color: #8075ff;
  --secondary-color: #6320ee;
  --dark-color: #211a1d;

  --grey-300-color: #e5ecec;
  --grey-400-color: #f8f0fb;
  --grey-800-color: #999;

  --shadow-small: 0 0 0.8rem rgb(0 0 0 / 30%);
  --shadow-medium: 0 0.5rem 1rem rgb(0 0 0 / 4%);

  --shadow-y-medium: 0 0.5rem 1rem rgb(0 0 0 / 4%);

  --br-small: 0.3rem;

  --big-font-size: 2.5rem;
  --main-font-size: 1.8rem;
  --secondary-font-size: 1.5rem;
  --small-font-size: 1rem;

  --h1-font-size: 6rem;
  --h2-font-size: 3.75rem;
  --h3-font-size: 3rem;
  --h4-font-size: 2.125rem;
  --h5-font-size: var(--big-font-size);
  --h6-font-size: 1.25rem;

  --button-font-size: var(--secondary-font-size);
  --caption-font-size: var(--small-font-size);

  --x-spacing: 2rem;
  --y-spacing: 2rem;
}

body {
  min-height: 100vh;

  margin: 0;
  padding: 0;

  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.2;

  background-color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}
